.chat-container { 
  display: flex;
  text-align: right;
  height: 500px;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  overflow: auto;
  border: 2px solid var(--dark-carbone);
}
.chat-view {
  height: 500px;
  overflow-y: auto;
  flex-basis: content;
}