
li {
  text-align-last: left;
  margin-top: 5px;
}
li::marker {
  color: var(--yellow);
  height: 10px;
}

li a {
  text-decoration: none;
  color: var(--dark-carbon);
  font-weight: 200;
  background-color: transparent;
  width: auto;
  margin: 10px;
}